* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
}


.justify-content {
  display: flex;
  justify-content: center;

}


/*Utility class */
.center {
  display: flex;
  justify-content: center
}

.h100 {
  height: 100%;
}

.bg-silver {

  background-color: silver;
}

.bg-azzurro {
  background-color: #B4D0E6;

}

.bg-blue {
  background-color: #0061FE;
}

.bg-black {
  background-color: black;
}

.blue {
  color: #0061FE;
}

.white {
  color: white;
}

.position {
  position: absolute;
  right: 50%;
  top: 25%;
}

.font {
  font-size: 6rem;
}

.mb-20 {
  margin-bottom: 20%;

}

.mb-5 {
  margin-bottom: 5%;

}

.m10 {
  margin: 10px 0;
}

.m30 {
  margin: 30px 0;
}

.m100 {
  margin: 100px 0;
}


.pb-10 {
  padding-bottom: 10%;
}

.col40 {
  width: 50%;
}

.p-25 {
  padding: 15px 50px;
}

.p-20 {
  padding: 20px 0;
}

.p-10 {
  padding: 10px 10px;
}

.p-2020 {
  padding: 20px 20px;
}

.p-0020 {
  padding: 0 20px;
}

.pb-5 {
  padding-bottom: 5%;
}


ul.list li {
  margin: 10px;
  padding: 10px;
  list-style: none;

}

.zoom {
  margin: 10px 0;
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}

/*content class */







/*Layout class */

/*header */
.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.container {
  max-width: 1700px;
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

/*header fine*/

/*jumbotron */

li {
  padding: 15px 0;
}

.jumbotron {
  max-width: 1500px;
  text-align: center;
  position: relative;

}

.jumbo-list {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.size {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
}

.row1 {
  width: 34%;
  position: relative;
  left: 16%;
}

/*main container */

.movimento {
  display: flex;
  justify-content: center;
}

.contenitore {
  max-width: 1200px;
  margin: 0;

}

.col-300 {
  width: 300px;
  padding: 0 10px;

}

.menu {
  display: flex;
}

.delete {
  list-style: none;
}

/*contenitore team*/

.team {
  max-width: 100%;
  margin: 0;
  text-align: center;

}

/*contenitore box picture */
.splitbox {
  display: flex;
  max-width: 100%;
  margin: 100px 0;
}


.content {
  width: 100%;
}

.sezione {
  padding-top: 4%;
  padding-right: 2%;
  padding-left: 3%;
}


/*1 riga sei colonne */

.riquadro {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.contenitore.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/*inizio col footer */

.flex {
  display: flex;
}

.delete.figlio :first-child {
  font-weight: bold;
}

ul.delete.figlio li {
  padding: 10px 20px;
}

.border {
  border: 2px solid white;
  width: 20%;
  margin: 10% 0;
}