* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  display: flex;
  justify-content: space-between;
}



/*Utility class */

.bg-silver {
  background-color: silver;
}

.bg-azzurro {
  background-color: #B4D0E6;
}

.bg-blue {
  background-color: #0061FE;
}

.b-style {
  font-weight: bold;
}


/*content class */








/*Layout class */

/*header */
.list {
  display: flex;
  list-style: none;
  align-items: center;

}

.container {
  max-width: 1700px;
  margin: 0;
}

/*header fine*/

/*jumbotron */
.jumbotron {
  max-width: 1500px;
}