* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}




/*Utility class */

.bg-silver {
  background-color: silver;
}







/*content class */








/*Layout class */


.container {
  max-width: 1200px;
  margin: 0 auto;
}